<%- include('frm_registro') %>
<div class="card">
    <div class="card-header">
        Administrar Noticias
    </div>
    <div class="card-block">
        <h4 class="card-title">Lista de noticias</h4>
        <div class="table-wrapper">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nuevo</button>
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Autor(es)</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>